---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>Astrostormtroopers</h1>
		<section>
			<h2>Welcome to Astrostormtroopers</h2>
			<p>
				Explore the latest news and updates in the world of science. Stay informed with our curated articles and insights.
			</p>
			<p>
				Discover fascinating topics ranging from space exploration to cutting-edge technology. Dive in and expand your knowledge!
			</p>
		</section>
	</body>
</html>
